
<div id="infolinks" style="background:white; padding:20px 0; color:#212121; line-height:30px; text-align:left;">


	<div class="container" style="width:980px !important; max-width:980px;">

       <div class="infolinks" style="width:10%">
        	<h3>产品</h3>
            <ul>
                <li><a  rel="nofollow" href="/products/buy">软件购买</a></li>
                <li><a  rel="nofollow" href="/products/personalArchitect">软装版</a></li>
                <li><a  rel="nofollow" href="/products/proarchitect">设计师版本</a></li>
                <li><a  rel="nofollow" href="/products/envisioneerEssentials">总监版本</a></li>
            </ul>
        </div><!--close connect-->

        <div class="infolinks" style="width:10%">

        	<h3>支持&学习</h3>
            <ul>
            	<li><a  rel="nofollow" href="/train.php">培训系统</a></li>
                <li><a  rel="nofollow" href="/products/V12">新版Envisioneer</a></li>
                <li><a  rel="nofollow" href="/download#system">系统要求</a></li>
            </ul>

        </div><!--close connect-->
         <div  class="infolinks" style="width:10%">
        	<h3>我们的故事</h3>
            <ul>
            	<li><a  rel="nofollow" href="/about">我们是谁</a></li>
            	<li><a  rel="nofollow" href="/about#wedo">我们做什么</a></li>
            	<li><a  rel="nofollow" href="/about#wedoit">为什么这么做</a></li>
            	<li><a  rel="nofollow" href="/about#howitdo">如何做</a></li>
            	<li><a  rel="nofollow" href="/about#partners">合作伙伴</a></li>
            </ul>

        </div><!--close connect-->
         <div  class="infolinks"  style="width:42%">
        	<h3>联系我们</h3>
            <p>北京：010-68778999 &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;上海：021-51089418</p>
            <p>杭州：0571-28322818 &nbsp; &nbsp; &nbsp;重庆：023-67740573</p>
            <p>西安：029-68790318 &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;宁波：0574-88349999</p>
            <p>东莞：0769-23388234 &nbsp; &nbsp; &nbsp;吉林：15043552222</p>
	    	<p>北京地址：北京市朝阳区东三环中路39号建外SOHO西区18号楼02层1832室</p>
	    	<p>其他地区：  <a href="http://www.cadsoft.com">北美</a>  |  <a href="http://www.cadsoft.com.au/" rel="nofollow">澳大利亚</a>  |  <a href="http://www.a-doc.com/" rel="nofollow">法国</a></p>


        </div><!--close connect-->
         <div  class="infolinks" style="margin-left:20px;">
            <h3>微信订阅号</h3>
            <img src="http://www.envisioneer.cn/assets/web/images/dingyuehao.png" style="width:80%">


        </div><!--close connect-->

	</div><!--close container-->

	<img src="http://www.envisioneer.cn/assets/web/images/envisioneer.png" alt="" style="margin:0 auto; display:block">
	<p style="text-align:center;padding:20px;">京ICP备16028785号-1</p>
</div><!--close infolinks-->
<div style="position:fixed; bottom:0;right:0; z-index:10;">
<script src="//wp.qiye.qq.com/qidian/2852137548/18b666956e26ce7540522b672cd503bf" charset="utf-8"></script>
</div><script language="javascript">$(document).ready(P_index);</script>