<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="/stylesheets/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/javascripts/jquery1.6.4.min.js"></script>
<script type="text/javascript" src="/javascripts/comment.js"></script>


</head>
<body>
<div class="main-wrap">
	<div class="path"><span class="path-icon"></span>当前位置：管理员组<span> &gt; </span>管理员组添加</div>
    <div class="set-wrap">
    	<form action="" method="post" name="form1" id="form1" onsubmit="">
        <div class="wrap-inner">
        	<h4 class="main-title">管理员添加</h4>
    		<div class="set-area-int">
            	<div class="site-info-b">
            	<p>管理员组：<span style="color:#999;">(管理员分组名称)</span></p>
            	<label>
            		<input name="name" id="name" class="input-box site-box-w" type="text" value="<%= groups[0]['name']%>" />
            	</label>
            	</div>
        	</div>
        </div>
        <div class="button button-position"><input type="submit" id="submitBtn" name="submit" value="确认添加" /></div>
		</form>

    </div>
</div>

</body>
</html>
